.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  justify-content: center;
  align-items: center;
  padding: var(--padding-md);
  /* border: 1px solid; */
  border-radius: var(--radius-md);
  box-shadow: 1px 1px 1px 0 var(--ui-divider);
  background-color: var(--bg-card);
  width: 100%;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
.card:hover {
  cursor: pointer;
  box-shadow: 4px 2px 2px 0 var(--ui-divider);
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-md);
  object-fit: fill;
  aspect-ratio: 16 / 9;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  text-align: center;
}
