.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100%;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
  color: var(--text-primary);
  background-color: var(--primary);
  box-shadow: inset 0 -1px 0 var(--ui-divider);
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease;
  z-index: 101;
  position: relative;
}

.noShadow {
  box-shadow: none;
}

.title {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 100;
  white-space: nowrap;
  text-align: center;
  color: var(--bg-main);
  margin: 0;
}

.logo {
  width: 64px;
  aspect-ratio: 1/1;
  margin-left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.rightContainer {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  position: relative;
}

.menuIcon {
  stroke: var(--bg-main);
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menuIcon:hover {
  transform: scale(1.1);
}

/* --- NAVEGACIÓN / MENÚ --- */

.menuContainer {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  height: calc(100vh - 90px);
  background-color: var(--primary);
  border-bottom: 1px solid var(--ui-divider);
  border-radius: 0;
  padding: 16px 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.isOpen {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menuItem {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  height: 20%; /* Distribuye los 5 items proporcionalmente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clase que se activa cuando el menú está abierto para disparar la cascada */
.isOpen .menuItem {
  opacity: 1;
  transform: translateY(0);
}

.menuLink {
  width: 100%;
  height: 100%;
  color: var(--bg-main);
  text-decoration: none;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.menuLink:hover {
  transform: scale(1.05);
  color: var(--ui-divider);
}
